#root {
    -fx-background-color: lightGray;
}

#titre {
    -fx-font-size: 40;
}

.titreBlancNoir {
    -fx-font-size: 20;
}

#btnJouer {
    -jfx-button-type: RAISED;

    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-padding: 10;
}