#root {
    -fx-background-color: lightGray;
}

#title {
    -fx-font-size: 40;
}

.whiteBlackTitle {
    -fx-font-size: 20;
}

#startBtn {
    -jfx-button-type: RAISED;

    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-padding: 10;
}